

header {
    padding: 20px 0;
}

.caixa {
    width: 940px;
    position: relative;
    padding: 0 5px;
    margin: 0 auto;
}

nav {
    position: absolute;
    top: 90px;
    right: 50%;

}

nav li {
    display: inline;
    margin: 0 0 0 50px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
}

nav a:hover {
    color: #ca97e9;
}

.itens {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.itens li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 30px;
    box-sizing: border-box;
    border: 2px solid #000000;
    border-radius: 10px;
}

.itens li:hover {
    border-color: #FFF2B6;
}

.itens li:hover h2 {
    font-size: 34px;
}

.itens li:active {
    border-color: #ca97e9;
}

.itens img {
    width: 100%;

}

.itens h2 {
    font-size: 30px;
    font-weight: bold;
}


footer {
    text-align: center;
    background: url("rp.png");
    padding: 70px 0;
}

.copyright {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: 125px;
}