header {
    padding: 0 0 20px 0;
}

.imagemtopo {
    height: 200px;
    width: 1445px;
}

nav {
    position: absolute;
    top: 90px;
}

nav li {
    display: inline;
    margin: 0 1px 0 50px;
}

nav a {
    text-transform: uppercase;
    color: #000000;
    font-weight: bold;
    font-size: 20px;
    text-decoration: none;
}

nav a:hover {
    color: #ca97e9;
}

.itens {
    width: 940px;
    margin: 0 auto;
    padding: 50px 0;
}

.itens li {
    display: inline-block;
    text-align: center;
    width: 30%;
    vertical-align: top;
    margin: 0 1.5%;
    padding: 30px 30px;
    box-sizing: border-box;
    border: 2px solid #FFF2B6;
    border-radius: 10px;
}

.itens li:hover {
    border-color: #ca97e9;
}

.itens li:hover h2 {
    font-size: 26px;
}

.itens li:active {
    border-color: #000000;
}

.itens img {
    width: 100%;
}

.itens h2 {
    font-size: 25px;
    font-weight: bold;
    padding-bottom: 5%;
}

.descricao-item {
    padding-top: 5%;
}

footer {
    text-align: center;
    background: url("rp.png");
    padding: 70px 0;
    height: 200px;
}

.copyright {
    font-size: 15px;
    font-weight: bold;
    color: #000000;
    position: relative;
    top: 250px;
    height: 20%;
    padding-bottom: 30px;
}